.dashboard {
  margin-top: -10px;
}

.dashboard-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
img {
  width: 400px;
  height: 100%;
  margin-top: 5px;
}
.author {
  font-weight: 600;
}
.router {
  margin-left: -285px;
  list-style: none;
  text-decoration: none;
  color: #112d4e;
  font-weight: 400;
}
